<div class='top-wrapper'>
  <div class="flex flex-wrap mx-auto my-10 w-full">
    <%= image_tag 'illustration.png', class: 'mx-auto w-full md:w-1/2' %>
    <div class="w-full md:w-1/2 mx-auto">
      <%= image_tag 'catch_copy.png', class: 'mx-auto' %>
      <div class="text-md md:text-lg text-center text-azuki font-bold pt-20 pb-4">
        <p>毎日のごはん作りを頑張りたい、あなたへ。<p>
        <p>まずは<span class="bg-ohagi">「みそ汁」</span>から始めてみませんか？<p>
        <p class="mt-10">一汁は、そんなあなたへ送る<p>
        <p>ありそうでなかった<span class="bg-ohagi">「みそ汁」</span>投稿サービスです<p>
      </div>
    </div>
  </div>
  <% unless logged_in? %>
    <div class="pt-10 pb-20 text-center">
    <%= link_to 'みんなのみそ汁を見てみる', posts_path, class: 'btn btn-secondary md:btn-lg'%>
    </div>
  <% end %>

  <div class="py-6 sm:py-8 lg:py-12">
    <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
      <h2 class="border-t border-ohagi font-bold text-2xl text-center pt-16">こんなときに「一汁」</h2>
    </div>
  </div>

  <div class="max-w-screen-xl w-3/4 md:w-5/6 mx-auto mb-10 md:mb-16">
    <div class="grid sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-8 sm:gap-12 xl:gap-12">
      <div class="flex flex-col md:flex-row items-center gap-4 w-full border shadow-xl rounded-xl bg-ohagi">
        <div class="group w-full bg-stone-50 md:w-24 lg:w-40 h-56 md:h-24 lg:h-40 block self-start shrink-0 overflow-hidden relative">
          <%= image_tag 'top_icon_01.png', class: 'w-full h-full object-contain object-center' %>
        </div>
        <div class="flex flex-col">
          <h2 class="text-md md:text-lg font-bold p-2">
            みんなのみそ汁を覗いてみよう
          </h2>
          <p class="text-sm md:text-md p-2">
            みそ汁のマンネリ化に悩んでいませんか？</br>
            悩んだら、みそ汁一覧をチェック。</br>
            新しい発見があるかも？
          </p>
        </div>
      </div>

      <div class="flex flex-col md:flex-row items-center gap-4 w-full border shadow-xl rounded-xl bg-ohagi">
        <div class="group w-full bg-stone-50 md:w-24 lg:w-40 h-56 md:h-24 lg:h-40 block self-start shrink-0 overflow-hidden relative">
          <%= image_tag 'top_icon_02.png', class: 'w-full h-full object-contain object-center' %>
        </div>
        <div class="flex flex-col">
          <h2 class="text-md md:text-lg font-bold p-2">
            作ったみそ汁を投稿しよう
          </h2>
          <p class="text-sm md:text-md p-2">
            今日のごはん作りもお疲れ様でした！</br>
            アツアツのうちに、みそ汁を投稿しましょう。</br>
            写真と具材を選ぶだけで簡単に投稿できます。
          </p>
        </div>
      </div>

      <div class="flex flex-col md:flex-row items-center gap-4 w-full border shadow-xl rounded-xl bg-ohagi">
        <div class="group w-full bg-stone-50 md:w-24 lg:w-40 h-56 md:h-24 lg:h-40 block self-start shrink-0 overflow-hidden relative">
          <%= image_tag 'top_icon_03.png', class: 'w-full h-full object-contain object-center' %>
        </div>
        <div class="flex flex-col">
          <h2 class="text-md md:text-lg font-bold p-2">
            カレンダーを見てみよう
          </h2>
          <p class="text-sm md:text-md p-2">
            毎日の頑張りは「みそ汁カレンダー」でチェック。</br>
            いつ・どんなみそ汁を作ったのか一目で分かります。</br>
            自分だけのカレンダーを作ろう！
          </p>
        </div>
      </div>

      <div class="flex flex-col md:flex-row items-center gap-4 w-full border shadow-xl rounded-xl bg-ohagi">
        <div class="group w-full bg-stone-50 md:w-24 lg:w-40 h-56 md:h-24 lg:h-40 block self-start shrink-0 overflow-hidden relative">
          <%= image_tag 'top_icon_04.png', class: 'w-full h-full object-contain object-center' %>
        </div>
        <div class="flex flex-col">
          <h2 class="text-md md:text-lg font-bold p-2">
            おみそ・おだしを登録しよう
          </h2>
          <p class="text-sm md:text-md p-2">
            みそ汁に欠かせないおみそとおだし。</br>
            登録しておけば、使用した商品の投稿もできます。</br>
            みんなのオススメおみそ・おだしもチェック！
          </p>
        </div>
      </div>
    </div>
  </div>

  <% unless logged_in? %>
    <div class="border-t border-ohagi pt-10 pb-20 text-center">
      <p class="pb-6">今日から始めてみませんか？</p>
      <%= link_to 'ユーザー登録して始める', new_user_path, class: 'btn btn-secondary md:btn-lg'%>
    </div>
  <% end %>
</div>
