  <div class="py-6 sm:py-8 lg:py-12">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <h2 class="text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-8">
        <%= t('defaults.register') %>
      </h2>
      <div class="max-w-xl border rounded-xl mx-auto">
        <%= form_with model: @user, local: true do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="flex flex-col gap-4 p-4 md:p-8">
            <div class="form-control mb-2">
              <%= f.label :username, class: 'label  font-bold' %>
              <%= f.text_field :username, class: 'input border-azuki w-full' %>
            </div>
            <div class="form-control mb-2">
              <%= f.label :email, class: 'label  font-bold' %>
              <%= f.email_field :email, class: 'input border-azuki w-full' %>
            </div>
            <div class="form-control mb-2">
              <%= f.label :birthplace_code, class: 'label  font-bold' %>
              <%= f.collection_select :birthplace_code, JpPrefecture::Prefecture.all, :code, :name, { include_blank: true }, class: 'select border-azuki w-full' %>
            </div>
            <div class="form-control mb-2">
              <%= f.label :living_place_code, class: 'label  font-bold' %>
              <%= f.collection_select :living_place_code, JpPrefecture::Prefecture.all, :code, :name, { include_blank: true }, class: 'select border-azuki w-full' %>
            </div>
            <div class="form-control mb-2">
              <%= f.label :password, class: 'label  font-bold' %>
              <%= f.password_field :password, class: 'input border-azuki w-full' %>
            </div>
            <div class="form-control mb-2">
              <%= f.label :password_confirmation, class: 'label  font-bold' %>
              <%= f.password_field :password_confirmation, class: 'input border-azuki w-full' %>
            </div>
            <%= f.submit (t "defaults.register"), class: 'btn btn-block btn-secondary mt-10 mb-20 lg:mb-10'%>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
