<div class="btm-nav fixed bottom-0 left-0 right-0">
  <% if logged_in? %>
    <%= link_to posts_path, class: 'hover:bg-accent active:bg-accent-focus rounded-full' do %>
    <button class="text-accent-content">
      <i class="fa-solid fa-house-chimney"></i>
    </button>
    <span class="btm-nav-label"><%= t('defaults.home') %></span>
    <% end %>
  <% else %>
    <%= link_to root_path, class: 'hover:bg-accent active:bg-accent-focus rounded-full' do %>
    <button class="text-accent-content">
      <i class="fa-solid fa-house-chimney"></i>
    </button>
    <span class="btm-nav-label"><%= t('defaults.home') %></span>
    <% end %>
  <% end %>
  <%= link_to new_post_path, class: 'hover:bg-accent active:bg-accent-focus rounded-full' do %>
    <button class="text-accent-content">
      <i class="fa-solid fa-camera"></i>
    </button>
    <span class="btm-nav-label"><%= t('defaults.post') %></span>
  <% end %>
  <%= link_to "#", class: 'hover:bg-accent active:bg-accent-focus rounded-full' do %>
    <button class="text-accent-content">
      <i class="fa-solid fa-calendar-days"></i>
    </button>
    <span class="btm-nav-label"><%= t('defaults.home') %></span>
  <% end %>
</div>
