<div class="btm-nav fixed bottom-0 left-0 right-0 z-20">
  <%= link_to posts_path, class: 'hover:bg-stone-200 active:bg-stone-300 rounded-full' do %>
    <button class="fa-solid fa-magnifying-glass"></button>
    <span class="btm-nav-label"><%= t('defaults.posts') %></span>
  <% end %>
  <%= link_to new_post_path, class: 'hover:bg-stone-200 active:bg-stone-300 rounded-full' do %>
    <button class="fa-solid fa-camera-retro"></button>
    <span class="btm-nav-label"><%= t('defaults.post') %></span>
  <% end %>
  <%= link_to calendar_path, class: 'hover:bg-stone-200 active:bg-stone-300 rounded-full' do %>
    <button class="fa-regular fa-calendar-days"></button>
    <span class="btm-nav-label"><%= t('defaults.calendar') %></span>
  <% end %>
  <%= link_to misosoup_bases_path, class: 'hover:bg-stone-200 active:bg-stone-300 rounded-full' do %>
    <button class="fa-solid fa-spoon"></button>
    <span class="btm-nav-label"><%= t('defaults.misosoup_base') %></span>
  <% end %>
</div>
