<div class="btm-nav fixed bottom-0 left-0 right-0">
  <%= link_to posts_path, class: 'hover:bg-accent active:bg-accent-focus rounded-full text-accent-content' do %>
    <button class="fa-solid fa-house-chimney"></button>
    <span class="btm-nav-label"><%= t('defaults.home') %></span>
  <% end %>
  <%= link_to new_post_path, class: 'hover:bg-accent active:bg-accent-focus rounded-full text-accent-content' do %>
    <button class="fa-solid fa-camera"></button>
    <span class="btm-nav-label"><%= t('defaults.post') %></span>
  <% end %>
  <%= link_to "#", class: 'hover:bg-accent active:bg-accent-focus rounded-full text-accent-content' do %>
    <button class="fa-solid fa-calendar-days"></button>
    <span class="btm-nav-label"><%= t('defaults.mypage') %></span>
  <% end %>
</div>
