<div class="btm-nav fixed bottom-0 left-0 right-0 z-20">
  <%= link_to posts_path, class: 'hover:bg-stone-200 active:bg-stone-300 rounded-full' do %>
    <button class="fa-solid fa-house-chimney"></button>
    <span class="btm-nav-label"><%= t('defaults.home') %></span>
  <% end %>
  <%= link_to new_post_path, class: 'hover:bg-stone-200 active:bg-stone-300 rounded-full' do %>
    <button class="fa-solid fa-camera"></button>
    <span class="btm-nav-label"><%= t('defaults.post') %></span>
  <% end %>
  <%= link_to mypage_path, class: 'hover:bg-stone-200 active:bg-stone-300 rounded-full' do %>
    <button class="fa-solid fa-calendar-days"></button>
    <span class="btm-nav-label"><%= t('defaults.mypage') %></span>
  <% end %>
</div>
