<div class="bg-stone-200 p-2 md:p-8">
  <footer class="mx-auto max-w-screen-2xl px-2 md:px-8">
    <div class="flex flex-col items-center justify-between gap-4 py-6 md:flex-row">
      <div class="flex gap-4">
        <div class="flex justify-between items-center flex-wrap">
          <%= image_tag 'footer_logo.png', class: 'h-24 w-32' %>
        </div>
      </div>
      <nav class="flex flex-wrap justify-center gap-y-2 md:justify-start md:gap-6">
        <%= link_to t('defaults.terms_of_use'), terms_path, class: "btn btn-link text-azuki text-xs sm:text-sm" %>
        <%= link_to t('defaults.privacy_policy'), privacy_path, class: "btn btn-link text-azuki text-xs sm:text-sm" %>
        <%= link_to t('defaults.contact'), contact_path, target: :_black, rel: "noopener noreferrer", class: "btn btn-link text-azuki text-xs sm:text-sm" %>
        <%= link_to twitter_account_path, target: '_blank', rel: 'noopener noreferrer', class: "btn btn-ghost text-xs sm:text-sm" do %>
          <i class="fa-brands fa-twitter fa-2x" style='color: #3399FF;'></i>
        <% end %>
      </nav>
    </div>
    <div class="pt-4 pb-20 md:pb-12 text-center text-xs sm:text-sm">© 2023 - ichiju. All rights reserved.</div>
  </footer>
</div>
