<div class="flex flex-wrap justify-start space-x-2">
  <div class="space-y-2">
    <% post.ingredients.each do |ingredient| %>
      <% case ingredient.classification %>
      <% when 'vegetable' %>
        <span class="ingredient-tag bg-vegetable">
          <%= link_to ingredient.name, posts_path(ingredient_name: ingredient.name) %>
        </span>
      <% when 'meat' %>
        <span class="ingredient-tag bg-meat">
          <%= link_to ingredient.name, posts_path(ingredient_name: ingredient.name) %>
        </span>
      <% when 'fish' %>
        <span class="ingredient-tag bg-fish">
          <%= link_to ingredient.name, posts_path(ingredient_name: ingredient.name) %>
        </span>
      <% when 'seasoning' %>
        <span class="ingredient-tag bg-seasoning">
          <%= link_to ingredient.name, posts_path(ingredient_name: ingredient.name) %>
        </span>
      <% when 'other' %>
        <span class="ingredient-tag bg-other">
          <%= link_to ingredient.name, posts_path(ingredient_name: ingredient.name) %>
        </span>
      <% end %>
    <% end %>
  </div>
</div>
