<div class="inline-flex items-center mb-10">
  <% post.ingredients.each do |ingredient| %>
    <% case ingredient.classification %>
    <% when 'vegetable' %>
      <span class='badge bg-vegetable text-stone-50 mr-4 p-4'>
        <%= link_to ingredient.name, posts_path(ingredient_name: ingredient.name) %>
      </span>
    <% when 'meat' %>
      <span class='badge bg-meat text-stone-50 mr-4 p-4'>
        <%= link_to ingredient.name, posts_path(ingredient_name: ingredient.name) %>
      </span>
    <% when 'fish' %>
      <span class='badge bg-fish text-stone-50 mr-4 p-4'>
        <%= link_to ingredient.name, posts_path(ingredient_name: ingredient.name) %>
      </span>
    <% when 'seasoning' %>
      <span class='badge bg-seasoning text-stone-50 mr-4 p-4'>
        <%= link_to ingredient.name, posts_path(ingredient_name: ingredient.name) %>
      </span>
    <% when 'other' %>
      <span class='badge bg-other text-stone-50 mr-4 p-4'>
        <%= link_to ingredient.name, posts_path(ingredient_name: ingredient.name) %>
      </span>
    <% end %>
  <% end %>
</div>
