<div class="p-6">
  <div class="card card-compact hover:bg-stone-100 rounded-lg shadow-lg mb-2 sm:mb-4">
    <%= link_to image_tag(post.image.url), post_path(post), class: 'w-full h-full flex justify-center items-center' %>
  </div>
  <div>
    <div class="flex items-end justify-end">
      <%= render 'bookmark', post: post %>
    </div>
    <%= link_to post.title, post_path(post), class: 'text-primary hover:text-primary-focus md:text-lg font-bold' %>
    <p class="text-sm md:text-base mb-3 md:mb-4">
      by <%=link_to post.user.username, "#", class: 'hover:text-accent-focus'%>
    </p>
    <%= render partial: 'ingredient', locals: { post: post } %>
  </div>
</div>
