<% set_meta_tags title: @post.title, og: { image: @post.image.url } %>
<div class="py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class="card max-w-xl border rounded-xl mx-auto">
      <%= image_tag @post.image.url %>
      <div class="card-body">
        <div class="flex gap-8 justify-end">
          <% if logged_in? %>
            <% if current_user.own?(@post) %>
              <%= render partial: 'twitter', locals: { post: @post } %>
            <% end %>
            <%# <%= render 'like_button' %>
            <%= turbo_frame_tag 'bookmark' do %>
              <%= render 'bookmark', post: @post %>
            <% end %>
          <% end %>
        </div>
        <h3 class="card-title text-2xl lg:text-3xl font-bold"><%= @post.title %></h2>
        <p>by <%=link_to @post.user.username, "#" %></p>
        <p><%= simple_format(@post.content) %></p>
        <p class="flex justify-end mb-4"><%= I18n.l(@post.created_at, format: :short) %></p>
        <%= render partial: 'ingredient', locals: { post: @post } %>
        <%= render partial: 'misosoup_base', locals: { post: @post } %>
      </div>
    </div>
    <% if logged_in? %>
      <% if current_user.own?(@post) %>
        <%= render 'crud_menus' %>
      <% end %>
    <% end %>
  </div>
</div>
