<!DOCTYPE html>
<html>
  <head>
    <title>一汁</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%# Font Awesome %>
    <script src="https://kit.fontawesome.com/ed4c73bca6.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render partial: 'shared/before_login_header' %>
    <%= yield %>
    <%= render partial: 'shared/footer' %>
    <%= render partial: 'shared/bottom_navbar' %>
  </body>
</html>
