<!DOCTYPE html>
<html>
  <head>
    <title>一汁</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= favicon_link_tag('favicon.png') %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WXYL8LLCYQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WXYL8LLCYQ');
    </script>

    <%# Font Awesome %>
    <script src="https://kit.fontawesome.com/ed4c73bca6.js" crossorigin="anonymous"></script>

    <%# Tom Select %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css">
  </head>

  <body class="bg-stone-50 text-accent-content font-mono">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= render 'shared/bottom_navbar' if logged_in? %>
  </body>
</html>
